*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  font-size: large;
}

body{
font-family: 'Times New Roman', Times, serif;   
}

.conu{
background-image: url("../asset/home/homo.jpg") !important;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
min-height: 100vh;
}


.mod{
  text-decoration: none;
  color: #000;
 font-size: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  color:rgb(169, 0, 0);
  padding: 25px 60px;
}
h2{
  color: rgb(169, 0, 0);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.cart{
 color: black;
 font-size: 20px;
 padding: 5px;
 border-radius: 4;
}
.menunav{
display: flex;
gap: 1rem;
}

div.tx{
padding: 40px 80px;
text-align:left;
margin-top: 100px;
}

.abouto{
display: flex;
flex-direction: row;
min-height: 100vh;
}

.tx , .imgresto{
  flex: 1;
}
.imgresto{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgresto img{
  width: 80%;
}

.bnt{
padding: 10px;
background-color: #fffaeb;
border-radius: 5px;
margin: 10px;
box-shadow: #E5D9B6 0px 3px 6px;
color:#E5D9B6;
cursor: pointer;
text-decoration: none;
}

.footer{
text-align:center;
}