body{
font-family: 'Times New Roman', Times, serif;   
}

.conu{
background-image: url("../asset/home/homo.jpg") !important;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
min-height: 100vh;
}

.mod{
  text-decoration: none;
  color: rgb(169, 0, 0);
 font-size: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  color:rgb(169, 0, 0);
  padding: 25px 60px;
}
h2{
  color: rgb(169, 0, 0);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 0;
  margin-top: 0;
}
.cart{
 color: rgb(169, 0, 0);
 font-size: 20px;
 padding: 5px;
 border-radius: 4;
}
.menunav{
display: flex;
gap: 5rem;
}
.tilo{
  color: rgb(169, 0, 0);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  text-align: center;
  margin-left: 1px;
  }

div.tx{
padding: 40px 80px;
text-align:left;
margin-top: 100px;
}
h3{
  color: rgb(169, 0, 0);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.abouto{
display: flex;
flex-direction: row;
min-height: 100vh;
}

.tx , .imgresto{
  flex: 1;
}
.imgresto{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgresto img{
  width: 80%;
}

.bnt{
padding: 10px;
background-color: #fffaeb;
border-radius: 5px;
margin: 10px;
box-shadow: #E5D9B6 0px 3px 6px;
color:#E5D9B6;
cursor: pointer;
text-decoration: none;
}

#chee{
  width: 40%;
}
.chefo{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: -2em;
  margin-bottom: 15px;
  
}
.body_chef{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

}
#titl{
 color: rgb(169, 0, 0);

}

.PARA{
  margin-bottom: 2em;
}
.footer{
text-align:center;
}

@media (max-width:700px) {

  #hitaka {
    position: fixed;
    text-align: center;
    margin-left: 90px;
  }

  .cart {
    position: fixed;
    top: 1;
    right: 0.5cm;
  }

  .menunav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: wheat;
    flex: basis 40px;
  }

  .menunav.opned {
    left: 250px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(224 224 224);
  }
  .tilo{
    text-align: center;
    margin-left: 10px;
    margin-top: 3em;
    margin-bottom: -3em; 
  }

  .tx {
    text-align: center;
    margin-right: 10px;
  }
  .abouto{
    display: flex;
    flex-direction: column;
  }
  .chefo{
    display: flex;
    flex-direction: column;
  }
  #chee{
    width: 110%;
  }

  .footer {
    margin-top: 13%;
  }
}