*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

body{
font-family: 'Times New Roman', Times, serif;   
}

.conu{
background-image: url("../asset/home/homo.jpg") !important;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
min-height: 100vh;
}


.mod{
  text-decoration: none;
  color: rgb(169, 0, 0);
 font-size: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  color:rgb(169, 0, 0);
  padding: 25px 60px;
}
h2{
  color: rgb(169, 0, 0);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.cart{
  color: rgb(169, 0, 0);
 font-size: 20px;
 padding: 5px;
 border-radius: 4;
}

.menunav{

display: flex;
gap: 4rem;
}

#tio{
  color: rgb(169, 0, 0);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  text-align: center;
  margin-left: 1px;
  margin-top: 2em;
  }

.bnt{
padding: 10px;
background-color: #fffaeb;
border-radius: 5px;
margin: 10px;
box-shadow: #E5D9B6 0px 3px 6px;
color:#E5D9B6;
cursor: pointer;
text-decoration: none;
}
.form , .mapouter {
  display: bloc;
  margin-top: 50px;
  text-align: center;
}

label ,input{
  padding: 10px 20px;
  margin-top: 30px;
 border-radius: 10px;
}
 
.mapouter{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
text-align:center;
}

@media (max-width:700px) {

  #hitaka {
    position: fixed;
    text-align: center;
    margin-left: 90px;
  }

  .cart {
    position: fixed;
    top: 1;
    right: 0.5cm;
  }

  .menunav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: wheat;
    flex: basis 40px;
  }

  .menunav.opned {
    left: 250px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .tio{
    text-align: center;
    margin-left: 10px;
    margin-top: 3em;
    margin-bottom: -3em; 
  }

.form{
  margin-bottom: 8em;
  margin-top: 6em;
}
  .footer {
    margin-top: 13%;
  }
}