body {
  font-family: 'Times New Roman', Times, serif;

}
.cartZ{
  display: none;
}

.conu {
  background-image: url("../asset/home/homo.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: rgb(169, 0, 0);
  padding: 25px 60px;
}

#hitaka {
  color: rgb(169, 0, 0);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 0;
  margin-top: 0;
}

.cart1 {
  color: rgb(169, 0, 0);
  padding: 5px;
  border-radius: 4;
  top: 0em;
  right: 0em;
}

.menunav {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  
}
.titlo{
color: rgb(169, 0, 0);
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
margin: auto;
text-align: center;
margin-left: 1px;
}
.mod {
  text-decoration: none;
  color: rgb(169, 0, 0);
  font-size: 20px;
}


.bnt {
  display: inline-block;
  padding: 10px;
  background-color: #fffaeb;
  border-radius: 5px;
  margin: 10px;
  box-shadow: #E5D9B6 0px 3px 6px;
  color: #E5D9B6;
  cursor: pointer;
  text-decoration: none;
}

.catego {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.dtails,.price {
  display: block;
  text-align: center;
}

.footer {
  margin-top: 6%;
  text-align: center;
}

@media (max-width:700px) {

  #hitaka {
    position: fixed;
    text-align: center;
    margin-left: 100px;
  }

 

  .menunav {
    display: flex;
    /* gap: 5rem; */
    flex-direction: column;
    margin-top: 36%;
    margin-left: auto;
    /* font-size: 40px; */
    
}
.mod {
  text-decoration: none;
  color: rgb(169, 0, 0);
  font-size: 46px;
}

  .menunav.opned {
    left: 250px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(224 224 224);
  }
  .titlo{
    text-align: center;
    margin-left: 10px;
    margin-top: 3em; 
  }

  .shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -2px;
  }
  

  .catego {
    margin-top: 100px;
  }

  .emo {
    max-width: 25em;
    min-height: 25em;
  }

  #imo {
    max-width: 30em;
    min-height: 31em;
  }

  #migo {
    max-width: 34em;
    min-height: 34em;
  }

  .dtails{
    margin-block-start: 2em;
  }

  .footer {
    margin-top: 13%;
    margin-left: 57%;

  }
  #myOverlay {
  display: block;
  position: absolute;
  top: 22%;

}
  main{
    width: 157%;
  }
  .cart1 {
    margin-right: -100%;}
  .menunav {
      display: none;
      gap: 5rem;
      margin-left: 51%;
  }
  .cartZ{
    position: absolute;
    top: 7%;
    display: block;
  }
}